{% extends "base.html" %}

{% block content %}
    <h1>My Blog</h1>
    <form method='post'>
        <label>Title for your new blog:</label>
            <br>
            <input type='text' name='title' value='{{ title }}' />

        <br>
        <br>
        Your New Blog:
        <br>
        <textarea name="body" value='{{ body }}'></textarea>
        
        <br>
        <input type="submit" value='Publish' />
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <p class="{{category}}">{{message}}</p>
        {% endfor %}
    {% endwith %}



{% endblock %}